<div ng-controller = 'categoryController'>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div><p class="chip center-align">Welcome <span ng-bind='user.name'></span></p></div>
        <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
          <a class="btn-floating btn-large red">
            <i class="large material-icons">reorder</i>
          </a>
          <ul>
            <li><a class="btn-floating red"><i class="material-icons" ng-click='logoff()'>clear</i></a></li>
            <li><a class="btn-floating blue" ng-click='submit()'><i class="material-icons">send</i></a></li>
          </ul>
        </div>
      </div>
    </div>
        <!-- category list -->
    <div class="row">
      <div class="col s12">
        <div ng-repeat= 'cat in category' id="image" style="display: inline-block; margin: 10px" class="center-align"  >

          <!-- <div> -->
            <p class="cat_name">{{cat[0]}}</p>
            <img class='cat_image'src="./static/images/{{cat[0]}}.jpg">
            <input type="hidden" value="{{cat[0]}}"></input>
            <div class="switch">
              <label>
                <span class="red-text text-darken-2">I don't like</span>
                <input type="checkbox" ng-model='checked' ng-change='update(cat[0])'>
                <span class="lever"></span>
               <span class="blue-text text-darken-2">I like this</span>
              </label>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
    
