<div  ng-controller='mainController'>
      <video autoplay loop  id="bgvid">
      
      <source src="./static/images/food.mp4" type="video/mp4">
    </video>
    <div id="header" style="background-color: initial ">
      <h3 >{{error}}</h3>
      <h1>Food Hunter</h1>
      <form >
        <div class="row">
          <div class="input-field col s4 offset-s4 login_form">
            <input id="email" type="email" class="validate" ng-model='user.email'>
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4 offset-s4 login_form">
            <input id="password" type="password" class="validate" ng-model='user.pwd'>
            <label for="password">Password</label>
          </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn col s4 offset-s4" ng-click='login()'>Log in / Register</button>
      </form>

    </div>
</div>