<div ng-controller = 'resController'>
<div class="container">
  <div class="row">
    <div class=" col s12">
      <div class="col s6"><p class="chip center-align">Welcome <span ng-bind='user.name'></span></p></div>

      <!-- change location -->

      <div class="input-field right-align col s6" >
          <i class="large material-icons prefix">edit_location</i>
          <input id="icon_prefix" type="text" class="validate" ng-model='newLocation'>
           <a class="btn-floating red"><i class="material-icons" ng-click='changeLocation()'>send</i></a>
          <label for="icon_prefix">different location?</label>  
      </div>

      <!-- log out, go back buttons -->
      <!-- remove the outside big red button -->
      <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">reorder</i>
        </a>
        <ul>
          <li><a class="btn-floating red"><i class="material-icons" ng-click='logoff()'>clear</i></a></li>
          <li><a class="btn-floating yellow darken-1" href="#/category"><i class="material-icons">undo</i></a></li>
        </ul>
      </div>
    </div>
    <!-- restaurant list -->
  <div class="row">
     <div class="col s12">
       <div class="col s9 center-align">
         <div ng-repeat='list in lists'>
           <div class="center-align"><h4>{{list}}</h4></div>
           <div ng-repeat = 'value in restaurants[list].businesses | limitTo: 3 | orderBy: "value.rating"' style="display: inline-block; margin: 5px;" class=" center-align">
                <div>
                  <p>{{value.name}}</p>
                  <p>{{value.location.city}} | {{value.location.postal_code}}</p>
                  <img src="{{value.rating_img_url}}"> | <span>{{value.review_count}} reviews</span><br>
                  <img class="resImg" src="{{value.image_url}}"><br>
                  <p>{{value.location.address[0]}}</p>
                  <p ng-if='!value.location.address[0]'>Click Details for address</p>
                  <p>{{value.phone}}</p>
                  <p ng-if='!value.phone'>No Phone Number</p>
                  <img src="./static/images/yelp-logo-small.jpg">
                  <a class="waves-effect waves-teal btn" target="_blank" href="{{value.url}}"  ng-click='updateRes(value.name,value.url,list)'>detail </a>
                </div>  
            </div>
            <p class="center-align"><a class="btn green" ng-click='showMore(list)'>see more</a></p>
          </div>
       </div>

       <!-- user browsered restaurant list  -->
       <div class="col s3 left-align">
       <h5></h5>
         <div ng-repeat='list in lists'>
          <div><h5>{{list}} Browsed Before</h5></div>
            <ul ng-repeat = '(name,value) in user.visited_res[list]'>
              <li>{{name}} <br>
                <a target="_blank" href="{{value.url}}"> detail </a>
                <a class="btn-floating red" ng-if='value.like'>
                  <i class="material-icons" ng-click='like(list,name,value.like)'>favorite</i>
                </a>
                <i class="material-icons" ng-hide='value.like' ng-click='like(list,name,value.like)'>favorite_board</i>
              </li>
            </ul>
         </div>
       </div>
     </div>
    </div>
     <!-- loading circle -->
    <div ng-hide='restaurants || user' class="preloader-wrapper big active" style="left:45%;">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>